.convention-entry {
	margin-top: 0.75em;
	margin-bottom: 1.5em;
}
.convention-entry * {
	margin: 0em;
}
.convention-tags {
	list-style-type: none;
	padding: 0em;
}
.convention-entry h3, .convention-genre, .convention-tags, .convention-tags li {
	display: inline-block;
	vertical-align: middle;
}
.convention-entry h3 {
	font-size: 1.5em;
	font-weight: normal;
}
.convention-genre {
	margin: 0.25em;
	background-color: transparent;
}
.convention-tags li {
	font-size: 0.75em;
	margin: 0.25em;
	padding: 0.5em;
	color: #000000;
	background-color: #cccccc;
}
.convention-entry[data-status="Tentative"], .convention-entry[data-status="Not Attending"] {
	color: #cccccc;
}
.convention-entry[data-status="Tentative"] h3 {
	font-style: italic;
}
.convention-entry[data-status="Not Attending"] h3 {
	text-decoration: line-through;
}