.convention-list, .convention-tags {
	list-style-type: none;
	padding: 0em;
}
.convention-list li {
	margin-top: 0.75em;
	margin-bottom: 1.5em;
}
.convention-list * {
	margin: 0em;
}
.convention-name, .convention-tags, .convention-tags li {
	display: inline-block;
	vertical-align: middle;
}
.convention-name {
	font-size: 1.5em;
}
.convention-name strong {
	font-weight: normal;
}
.convention-tags li {
	font-size: 0.75em;
	margin: 0.25em;
	padding: 0.5em;
	color: #000000;
	background-color: #cccccc;
}
.convention-tags .convention-genre {
	border-style: solid;
	border-width: 0.25em;
	padding: 0.25em;
	background-color: transparent;
}
.convention-list [data-status="Tentative"], .convention-list [data-status="Not Attending"] {
	color: #cccccc;
}
.convention-list [data-status="Tentative"] .convention-name {
	font-style: italic;
}
.convention-list [data-status="Not Attending"] .convention-name {
	text-decoration: line-through;
}