.convention-list, .convention-tags {
	list-style-type: none;
	padding: 0em;
}
.convention-list li {
	margin: 1.5em 0em;
}
.convention-list * {
	margin: 0em;
}
.convention-header, .convention-header *, .convention-tags li {
	display: inline-block;
	vertical-align: middle;
}
.convention-header {
	padding: 0em 0.375em;
}
.convention-name {
	margin: 0.375em 0em;
	color: #000000;
}
.convention-genre {
	font-size: 0.75em;
	margin: 0.75em 0em;
	color: #000000;
}
.convention-tags {
	margin: 0em -0.1875em;
}
.convention-tags li {
	font-size: 0.75em;
	margin: 0.25em;
	padding: 0.5em;
	color: #000000;
	background-color: #cccccc;
}
.convention-list [data-status="Tentative"], .convention-list [data-status="Not Attending"] {
	color: #cccccc;
}
.convention-list [data-status="Tentative"] .convention-name {
	font-style: italic;
}
.convention-list [data-status="Not Attending"] .convention-name {
	text-decoration: line-through;
}