{{- $tagColors := .Site.Data.fancons.tagColors -}}
{{- range $genre, $color := $tagColors.genre -}}
.convention-entry[data-genre="{{ $genre }}"] .convention-genre {
	color: {{ $color }};
}
{{ end -}}
{{- range $status, $color := $tagColors.status -}}
.convention-entry[data-status="{{ $status }}"] .convention-status {
	background-color: {{ $color }};
}
{{ end -}}
{{- range $tag, $color := $tagColors.extra -}}
.convention-entry [data-extra-tag="{{ $tag }}"] {
	background-color: {{ $color }};
}
{{ end -}}
