<section class="convention-entry" data-status="{{ .status }}" data-genre="{{ .genre }}">
	<h3>{{ .name }}</h3>
	{{- with .genre -}}
		<p class="convention-genre">({{ . }})</p>
	{{- end -}}
	<ul class="convention-tags">
		{{- if ne .status "Attending" -}}
			<li class="convention-status"><strong>{{ .status }}</strong></li>
		{{- end -}}
		{{- range .extra_tags -}}
			<li data-extra-tag="{{ . }}">{{ . }}</li>
		{{- end -}}
	</ul>
	{{- with .note -}}
		<p class="convention-note">({{ . }})</p>
	{{- end -}}
	{{- if .start_date -}}
		<p class="convention-info">{{ partial "fancons/format-date-range.html" (dict "startDate" .start_date "endDate" .end_date) }}</p>
	{{- end -}}
	{{- with .location -}}
		<p class="convention-info">{{ partial "fancons/format-location.html" . }}</p>
	{{- end -}}
</section>