<li data-status="{{ htmlEscape .convention.status }}">
	<p class="convention-name"><strong>{{ .convention.name }}</strong></p>
	<ul class="convention-tags">
		<li style="background-color: {{ index $.tagColors.genre .convention.genre }}">{{ .convention.genre }}</li>
		{{- if ne .convention.status "Attending" }}
			<li style="background-color: {{ index $.tagColors.status .convention.status }}">{{ .convention.status }}</li>
		{{- end -}}
		{{- range .convention.extra_tags -}}
			<li style="background-color: {{ index $.tagColors.extra . }}">{{ . }}</li>
		{{- end -}}
	</ul>
	{{- with .convention.note -}}
		<p class="convention-note">({{ . }})</p>
	{{- end -}}
	{{- if .convention.start_date -}}
		<p class="convention-info">{{ partial "fancons/format-date-range.html" (dict "startDate" .convention.start_date "endDate" .convention.end_date) }}</p>
	{{- end -}}
	{{- with .convention.location -}}
		<p class="convention-info">{{ partial "fancons/format-location.html" . }}</p>
	{{- end -}}
</li>