{{- $conventions := .Site.Data.fancons.conventions -}}
{{- $currentDate := partial "fancons/get-current-date.html" . -}}
{{- $upcomingConventions := where $conventions "start_date" ">=" ($currentDate.Format "2006-01-02") -}}
{{- $sortedConventions := sort $upcomingConventions "start_date" "asc" -}}
<h2>Upcoming</h2>
{{- partial "fancons/simple-convention-list.html" $sortedConventions -}}

{{- $undatedConventions := where $conventions "start_date" "=" nil -}}
{{- if $undatedConventions -}}
	<h2>Dates TBD</h2>
	{{- partial "fancons/simple-convention-list.html" $undatedConventions -}}
{{- else if not $upcomingConventions -}}
	<p>No upcoming conventions</p>
{{- end -}}